/* import the google font */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* set up colors */
  --primaryOrange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(217, 12%, 63%);
  --mediumGray: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --darkerBlue: hsl(213, 19%, 11%);

  --deepBlue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--deepBlue);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: max-content;
  width: 18rem;
  border-radius: 1rem;
  background: linear-gradient(to top right, var(--darkerBlue), var(--darkBlue));
  padding: 1.5rem;
}

.card--icon {
  color: var(--primaryOrange);
}

.card--icon > img {
  height: 0.7rem;
}

.card--title {
  color: var(--white);
  font-size: 1.2rem;
  margin-block: 0.8rem;
}

.card--text {
  color: var(--lightGray);
  font-size: 0.75rem;
}

.card--ratings {
  display: flex;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.card--rating-item {
  color: var(--lightGray);
  font-size: 0.65rem;
  cursor: pointer;
}

.card--rating-item:hover {
  background-color: var(--primaryOrange);
  color: var(--white);
}

.card--btn-selected {
  background-color: var(--lightGray) !important;
  color: var(--white) !important;
}

.button {
  border: none;
  outline: none;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  background-color: var(--darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--submit {
  background-color: var(--primaryOrange);
  width: 100%;
  border: none;
  outline: none;
  color: var(--white);
  padding-block: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-size: 0.65rem;
  font-weight: 700;
  border-radius: 1rem;
}

.card--submit:hover {
  background-color: var(--white);
  color: var(--primaryOrange);
  cursor: pointer;
}

.card--submit:disabled {
  background-color: var(--mediumGray);
  color: var(--white);
  cursor: not-allowed;
}

/* Thank you state */
.card--content-thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--content-thankyou > img {
  height: 4.5rem;
}

.text--center {
  text-align: center;
}

.rating-display {
  color: var(--primaryOrange);
  margin-top: 1.5rem;
  background-color: var(--darkBlue);
  font-size: 0.65rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
